body {
  padding-top: 70px
}

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,.item {
  border-radius: 4px;
}

.caption {
  height: 130px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail img {
  width: 100%;
}

.ratings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
    border-color: #080808;
    height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
    padding-top: 15px;
}

/* Applying text align center for all tables*/
table, td, th {
   	text-align: center;
}

/* For image icons */
.customIcons{
	width: 20px;
	height: 20px;
}